<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <img src="<%= bookDetails.image_url %>" alt="">
        <h2><%= bookDetails.title %></h2>
        <h3><%= bookDetails.author %></h3>
        <h3><%= bookDetails.isbn %></h3>
        <p><%= bookDetails.description %></p>

        <button>
            <a href="/">Home</a>
        </button>


    </div>

</body>

</html>