<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <img src="<%= bookDetails.image_url %>" alt="">
        <h2><%= bookDetails.title %></h2>
        <h3><%= bookDetails.author %></h3>
        <h3><%= bookDetails.isbn %></h3>
        <p><%= bookDetails.description %></p>

        <button>
            <a href="/">Home</a>
        </button>
        <button id="update">Update Book</button>
        <form action="/deleteBook/<%= bookDetails.id %>?_method=DELETE" method="POST">
            <button>
                Delete
            </button>
        </form>

        <form action="/updateBook/<%= bookDetails.id %>?_method=PUT" method="POST">
            <input type="text" readonly='readonly' name="image_url" id="title" value="<%= bookDetails.image_url %>">
            <input type="text" name="author" id="title" value="<%= bookDetails.author %>">
            <input type="text" name="title" value="<%= bookDetails.title %>">
            <input type="text" readonly='readonly' name="isbn" id="title" value="<%= bookDetails.isbn%>">
            <textarea name="description" id='author' rows="30" cols="10"><%= bookDetails.description %> </textarea>
            <input type="submit" value="Add this Book">
        </form>


    </div>

</body>

</html>